<section class="container">
    
    <main>
        <div class="left">
            <div class="citation-banner">
                
                <blockquote>
                    <span class="citation-bracket">..........</span>
                    <!-- important post message/component -->

                    <p id="citation">{{citation}}</p>
                    <br>
                    <br>
                    <cite id="citation-author">Honorable Dominique Munongo Inamizi</cite>
                </blockquote>
               
            </div>

        </div>

        <div class="right">
            
            <img [src]="banner" alt="Image de la princesse des Bayeke">
            <div class="presentation">
                <span>Pour la circonscription de</span>
                <span id="circonscription"> {{circonscription | uppercase}}</span>
            </div>
        </div>
        <span class="round"></span>
    </main>
</section>
